# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
squashfs-root

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# local database files
*.db
*.db-shm
*.db-wal

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea
.cursor
AGENTS.md
CLAUDE.md

# Finder (MacOS) folder config
.DS_Store
